html {
  height: 100%; 
}

body {
  height: 100%;
  /* background-color: black; */
}


.container-fluid {
  height: 100%;
  background-image: url("../images/train1.jpg");
  background-size: cover;
  overflow: auto;
}

/* Navbar */

.navbar {
  padding: 0;
  justify-content: space-between;
  color: #fff; /* This changed the font color of navbar-brand... */
  border-bottom: 2px solid #ddd;
  /* Modifying height messes up with toggler */
  /* height: 90px;  */  
}

#navbarTogglerDemo02 {
  flex-grow: 0;
}

.navbar-brand {
  background-color: #4aaaa5;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  height: 84px;
  font-size: 30px;
}


.collapse {
  padding: 10px;  
}

.navbar-toggler {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.navbar-nav {
  padding: 10px; 
}

/* Contents Container */
.row-contents-container {
  margin-top: 10px;
  margin-bottom: 100px;
}
/* Jumbotron */
.row-jumbotron {
  margin-top: 100px;
}

.container-jumbotron-title {
  text-align: center;
  color: white;
}

.jumbotron-fluid {
  /* background-image: url("../images/train_scheduler.jpg"); */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  background-color: transparent;
}

/* current time */
#time-part {
  text-align: center;
  font-size: 32px;
  color: white;
}

/* form */

/* table */

thead {
  font-weight: bold;
}

th {
  font-weight: bold;
}

/* button */

#submit {
  background: #ff5252;
  color: #fff;
  border: 2px solid #dddddd;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.edit {
  background: #ff5252;
  color: #fff;
  border: 2px solid #dddddd;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.delete {
  background: #ff5252;
  color: #fff;
  border: 2px solid #dddddd;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.btn-next-arrival {
  width: 30x;
  height: auto;
  color: white;
}

.btn-minutes-away {
  width: 30x;
  height: auto;
  color: white;
}



/* Footer */

.footer {
    background-color: #666666;
    text-align: center;
    border-top: 3px solid #4aaaa5;
}

.footer > p {
    color: #fff;
}


@media only screen and (max-width: 767px) {
    .col-form {
      margin-bottom: 20px;
    }
}